:root{
    --text-color: hsl(225, 20%, 60%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 125vh;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: hsl(230, 100%, 99%);
    background-size: 100% 52%;
}

header{
    text-align: center;
    background: url(./images/pattern-circles.svg) no-repeat center;
    padding: 3rem 0;
    font-size: 1rem;
    margin: 2rem 0 1rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    /* border: solid black 1px; */
    font-size: .8rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: -3px 5px 100px hsl(223, 50%, 87%);
}

.toggle{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2.5rem 0;
    color: var(--text-color);
    padding: 0 1rem;
}

article{
    align-self: stretch;
    border-top: hsl(223, 50%, 87%) solid 1px;
    /* text-align: center; */
    /* padding: 1rem; */
    padding-top: 1rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.card__tophalf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    color: var(--text-color);
}

.card__bottomhalf{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9rem;
}

.toggle__container{
    padding: 0.3rem;
    width: 50px;
    border-radius: 3rem;
    background-color: hsl(223, 50%, 87%);
    margin: 0 .8rem;
    cursor: pointer;
}

.toggle__container.active{
    background-color: hsl(174, 77%, 80%);
}

.toggle__button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    transition: margin-left 400ms ease-out;
}

.card__link{
    text-decoration: none;
    padding: .8rem 3.5rem;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    border-radius: 2rem;
    margin-top: 1.5rem;
    display: inline-block;
}

.price{
    display: flex;
    align-items: center;
}

.price__value{
    font-size: 2.5rem;
    color: hsl(227, 35%, 25%);
    font-weight: 800;
}

.price__perMonth{
    margin-left: 0.5rem;
    font-size: 1rem;
}

.card__slider{
    width: 100%;
    margin: 2.5rem 0;
    -webkit-appearance: none;
}

.card__slider::-webkit-slider-runnable-track{
    background-color: hsl(224, 65%, 95%);
    height: 10px;
}

.card__slider::-moz-range-track{
    background-color: hsl(224, 65%, 95%);
    height: 10px;
    border-radius: 2rem;
}

.card__slider::-webkit-slider-thumb{
    width: 50px;
    height: 50px;
    background: url('./images/icon-slider.svg') no-repeat center;
    border-radius: 50%;
}

.card__slider::-moz-range-thumb{
    width: 50px;
    height: 50px;
    background: url('./images/icon-slider.svg') no-repeat center;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    border:none;
}

.card__slider.card__slider::-moz-range-progress{
    background-color: hsl(174, 77%, 80%);
    height: 10px;
    border-radius: 2rem;
}

.show__advantage{
    margin: .7rem 0;
}

.show__advantage::before{
    content: url('./images/icon-check.svg');
    margin-right: 1rem;
}

.card__discount{
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    display: inline-block;
    padding: .1rem .6rem;
    border-radius: 1rem;
    font-weight: 800;
    margin: 0 .9rem 0 0.3rem ;
    display: none;
}

.header__content{
    font-size: .8em;
    margin: .3rem 0;
    color: var(--text-color);
}

.header__title{
    font-size: 1.3em;
    padding-bottom: .5rem;
    color: hsl(227, 35%, 25%);
}

@media screen and (min-width:782px) {

    body{
        min-height: 100vh;
    }
    
    .card__tophalf{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card__title{
        order: -2;
    }

    .price{
        order: -1;
    }

    .card__discount{
        margin-right: 6.5rem;
    }

    .card__bottomhalf{
        flex-direction: row;
        justify-content: space-between;
    }

    .card__link{
        margin: 0;
    }

    #yearlyBilling{
        margin-right: 205px;
    }

    header{
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
    }

    .header__content{
        display: inline-block;
        font-size: 0.7em;
    }
}