*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header{
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    border: solid black 1px;
    font-size: .8rem;
}

aside{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
}

article{
    align-self: stretch;
    border-top: hsl(223, 50%, 87%) solid 1px;
    text-align: center;
    /* padding: 1rem; */
    padding-top: 1rem;
}

.card__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9rem;
}

.toggle__container{
    padding: 0.3rem 0.2rem;
    width: 50px;
    border-radius: 3rem;
    background-color: hsl(223, 50%, 87%);
    margin: 0 1rem;
}

.toggle__button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}

.card__link{
    text-decoration: none;
    padding: .8rem 3.5rem;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    border-radius: 2rem;
    margin-top: 1rem;
    display: inline-block;
}

.price{
    display: flex;
    align-items: center;
}

.price__value{
    font-size: 2.5rem;
}

.price__perMonth{
    margin: 0 0.5rem;
}

.card__slider{
    width: 90%;
    margin: 2.5rem 0;
}

.show__advantage{
    margin: .7rem;
}

